APIFY_API_TOKEN=your_apify_token_here
# The Apify actor ID, in "username~actor-name" form.
# Find it in the actor's URL bar on apify.com (e.g. https://console.apify.com/actors/<actor-id>).
APIFY_ACTOR_ID=username~amazon-actor-name
